$ascent_color: #1E90FF;
$body_font: 'Sen-Regular';
$border_color:#232323;
$heading_font_bold:'Sen-Bold'; 
$heading_font_exbold:'Sen-ExtraBold'; 
$primary_background_color: #000000;
$primary_text_color:#FFFFFF;
$primary_link_color: #02e7eb;
$secondary_text_color: #6A9AB0;
$secondary_background_color:#181823;
$background-color-2: #FFF8E8;
$background-color-3: #FBE4FF;



.cursor-pinter {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

// Menu bar show
.menu-item-bar-show {
    max-height: 360px !important;
}



.name-logo{
    color: $primary_text_color;
    font-family: $heading_font_bold;
    font-size: 3em;
}


.h1-title {
    font-size: calc(2.275rem + 1.5vw);
    font-family: 'Sen-Bold';
    color:$primary_text_color
}


.h2-title {
    font-size: calc(1.175rem + 1.5vw);
    font-family: 'Sen-Bold';
    color:$primary_text_color
}


.h4-title {
    color: $secondary_text_color;
}


.h3-title {
    color: $primary_text_color;
    font-size: 1.3em;
    font-family: 'Sen-Bold';
}



.paragraph-1 {
    font-size: calc(0.6rem + 0.7vw);
    line-height: 1.5em;
}

.paragraph-1-gray{
    color:$secondary_text_color;
    font-size: calc(0.6rem + 0.7vw);
    line-height: 1.5em;
}

.paragraph-2 {
    font-size: 0.9em;
    line-height: 1.5em;
}

.light-gray {
    color:$secondary_text_color;
}


.big-num {
    color: $secondary_text_color;
    font-family: 'Sen-Regular';
    font-size: 6em;
}

.color-green {
    color:#3CC74E;
}

.color-blue {
    color:#609BFF;
}

.color-pink {
    color:#E35B8C;
}



.site-btn-1  {
    font-size: 1.2em;
    color:$secondary_background_color;
    border-bottom: 1px solid $secondary_background_color;
    padding: 0.6em 0;

    &:hover {
        color:$primary_text_color;
        background:$ascent_color ;
        padding: 0.6em 0.8em;
    }
}




.site-blurb-1 {
    img {
        width: 40px;
        margin-bottom: 1em;
    }
}




.logo-box {
    ul {
        display: flex;
        justify-content: space-around;
        li {
            width: 100%;
            text-align: center;
            border: 1px solid $border_color;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                padding: 0.5vw 10px;
                max-width: 100%;
                max-height: 70px;
            }

            
        }
    }
}




.image-box-blurb {
    background: $secondary_background_color;
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
    cursor: pointer;
    img {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
    }
    .info {
        padding: 3em 2em;
        h3 {
            color:$primary_link_color;
            margin-bottom: 1em;
        }
    }

    .icon-bottom {
        position:absolute;
        bottom: -50px;
        right: -50px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 30px;
        background: $ascent_color;
        color: $primary_text_color;
    }
    &:hover{
        transform: scale(1.02);
        h3{
            padding:0 .4em;
        }
        .icon-bottom { 
            right: 0;
            bottom: 0;
        }
    }

    .paragraph-1-gray {
        color: $primary_text_color;
        padding: 0.3em 0.5em;
        background: rgb(0,215,255);
        background: linear-gradient(90deg, $primary_link_color 33%,  $ascent_color 91%);
        text-align: right;
    }
}





.site-btn-2 {
    color:$primary_text_color;
    text-transform: uppercase;
    font-family: 'Sen-Bold';
    padding: 1.5em 2em;
    border: 1px solid $ascent_color;
    display: inline-block;

    &:hover {
        background: $ascent_color;
        transform: scaleY(.98);
        margin-top: -3px;
    }
}





.image-box-blurb-2 {
    border: 1px solid $secondary_text_color;
    margin-bottom: 3em;
    img {
        width: 100%;
    }
    .info {
        padding: 2em;

        h3{
            line-height: 1.3em;
            margin-bottom: 3em;
        }
        h4 {
            font-size: 1.3em;
        }

        .paragraph-1 {
            color: $primary_text_color;
        }
    }
} 



