// Module 0
.module-0 {
    background-color: $secondary_background_color;
    .left-bar {
        padding: calc(1.375rem + 5.5vw) 0;
        background: $primary_background_color;
        display: flex;
        align-items: center;
        .hero-image {
            img {
                width: 130%;
                min-height: 400px;
                object-fit: cover;
            }
        }
    }
    .right-bar {
        padding: 10rem 0;
        display: flex;
        align-items: center;
        max-width: 750px;
    }
}




// Module 1
.module-1 {
    padding: 9em 0;
    background: $primary_background_color;
}


// Module 2
.module-2 {
    background: $background-color-2;
    .left {
        position: relative;
        h1 {
            color: $primary_background_color;
        }
        p {
            color: $secondary_text_color;
        }
        .site-btn-1 {
            position: absolute;
            bottom: 0;
        }
    }


    .right {
        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }


}








// Module 3
.module-3 {
    .paragraph-1 {
        color: $secondary_text_color;
    }
    .site-blurb-1 {
        margin-bottom: 3em;

        .paragraph-2 {
            color: $secondary_text_color;
        }
    }
}





// Module 4
.module-4 {
}





// Module 5
.module-5 {
    .btn-area {
        text-align: center;
        margin-top: 5em !important;
    }
    
}







// Module 6 {
.module-6 {

    .site-btn-1 {
        color:$primary_text_color;
        border-bottom-color: $secondary_text_color;
    }
    .paragraph-1 {
        color:$secondary_text_color;
    }

    .stuck-image {
        overflow: hidden;
        .bar {
            background-color: $secondary_background_color;
            display: flex;
            align-items: center;
            color: $secondary_text_color;
            font-size: 3.5em;
            line-height: 1;
        }
        height: 50vw;
        background: url('../assets/image2.png');
        background-size: cover;
        background-attachment: fixed;
        border-radius: 10px; 
    }
}












// Module 7 {
.module-7 {
    .paragraph-1 {
        color:$secondary_text_color;
    }
    .site-btn-1 {
        color:$primary_text_color;
        border-bottom-color: $secondary_text_color;
    }
}





// Module 8 {
.module-8 {
    .paragraph-1 {
        color:$secondary_text_color;
    }

    .bottom {
        .site-btn-2 {
            padding: 0.7em 1.6em;
        }
        .active {
            background: $ascent_color;
        }
        .list {
            ul {
                li{
                    display: inline-block;
                    margin-right: 1.2em;
                }
            }
        }

        .image-gallery {
            ul {
                display: grid;
                grid-template-columns: repeat(4, auto);
                column-gap: 1em; 
                li {
                    margin-bottom: 1em;
                    img{
                        width: 100%;
                    }
                }
            }
        }

    }

   
}







// Module 9
.module-9  {
    max-width: 1100px;
    margin: auto;
    .right {
        .contact-form {
            input, textarea {
                display: block;
                width: 100%;
                margin-bottom: 2em;
                background: $secondary_background_color;
                border: none;
                color: $primary_text_color;
                outline: none;
            }
            input {
                padding: .4em .5em;
                
            }
            label{
                color:$primary_text_color;
                font-family: 'Sen-Bold';
                margin-bottom: 5px;
            }

            .site-btn-2{
                background: $ascent_color;
                padding: 1.2em 0;
            }
        }
    }
}










