// Module 0
.module-0 {
    background-color: $secondary_background_color;
    .left-bar {
        padding: calc(1.375rem + 5.5vw) 0;
        background: $primary_background_color;
        display: flex;
        align-items: center;
        .hero-image {
            img {
                width: 130%;
                min-height: 400px;
                object-fit: cover;
            }
        }
    }
    .right-bar {
        padding: 10rem 0;
        display: flex;
        align-items: center;
        max-width: 750px;
    }
}




// Module 1
.module-1 {
    padding: 9em 0;
    background: $primary_background_color;
}


// Module 2
.module-2 {
    background: $background-color-2;
    .left {
        position: relative;
        h1 {
            color: $primary_background_color;
        }
        p {
            color: $secondary_text_color;
        }
        .site-btn-1 {
            position: absolute;
            bottom: 0;
        }
    }


    .right {
        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }


}








// Module 3
.module-3 {
    .paragraph-1 {
        color: $secondary_text_color;
    }
    .site-blurb-1 {
        margin-bottom: 3em;

        .paragraph-2 {
            color: $secondary_text_color;
        }
    }
}



