*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: 0.3s ease;;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Sen-ExtraBold';
}

p {
    font-family: $body_font;
    color: white;
}


// Bootstrap reset

.my-5 {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
} 