
// // For mobile and Tab width
@media (max-width: 768px) {
    //
    // Header
    .main-header {
        position: relative;
        .logo-bar{
            z-index: 99;
            background: $primary_background_color;
        }
        .menu-item-bar {
            position: absolute;
            top:100%;
            max-height: 0px;
            overflow: hidden;
            padding: 0;
            z-index: 3;
            ul {
                display: block !important;
                background: $secondary_background_color;
                li {
                    border-bottom: 1px solid $border_color;
                }
            }
        }


        .mobile-menu-icon {
            display: block;
            padding: 0.3rem;
            color: $primary_text_color;
            &:hover {
                color:$secondary_text_color
            }
        }
    }
    //End

    //Module 0
    .module-0 {
        .left-bar {
            padding: calc(1.375rem + 0.5vw) 0;
            padding-bottom: 0;
            margin-bottom: -50vw;
            .hero-image {
                img {
                    width: 100%;
                }
            }
        }

    }

    /////
    

    .logo-box {
        ul {
            display: grid;
            grid-template-columns:  repeat(2, minmax(200px, 1fr));
            justify-self: center;
           li {
            padding: 15px 0;;
           }
        }

    }

    // Module 5
    .module-5 {
        .experience-items {
            display: block;
        }
    }







    // Moudle 6
    .module-6 {
        .stuck-image {
            height: 50vh;
        }
    }


    // moudle - 7 
    .module-7 {

        .left {
            position: inherit;
            padding-bottom: 20em;
        }
    }





    // Module 8
    .module-8 { 
        .image-gallery {
            ul {
                grid-template-columns: repeat(1, auto) !important;
            }
        }

    }







}