.cursor-pinter {
  cursor: pointer;
}
.cursor-pinter:hover {
  opacity: 0.9;
}

.menu-item-bar-show {
  max-height: 360px !important;
}

.name-logo {
  color: #FFFFFF;
  font-family: "Sen-Bold";
  font-size: 3em;
}

.h1-title {
  font-size: calc(2.275rem + 1.5vw);
  font-family: "Sen-Bold";
  color: #FFFFFF;
}

.h2-title {
  font-size: calc(1.175rem + 1.5vw);
  font-family: "Sen-Bold";
  color: #FFFFFF;
}

.h4-title {
  color: #8491A0;
}

.h3-title {
  color: #FFFFFF;
  font-size: 1.3em;
  font-family: "Sen-Bold";
}

.paragraph-1 {
  font-size: calc(0.6rem + 0.7vw);
  line-height: 1.5em;
}

.paragraph-1-gray {
  color: #8491A0;
  font-size: calc(0.6rem + 0.7vw);
  line-height: 1.5em;
}

.paragraph-2 {
  font-size: 0.9em;
  line-height: 1.5em;
}

.light-gray {
  color: #8491A0;
}

.big-num {
  color: #8491A0;
  font-family: "Sen-Regular";
  font-size: 6em;
}

.color-green {
  color: #3CC74E;
}

.color-blue {
  color: #609BFF;
}

.color-pink {
  color: #E35B8C;
}

.site-btn-1 {
  font-size: 1.2em;
  color: #181823;
  border-bottom: 1px solid #181823;
  padding: 0.6em 0;
}
.site-btn-1:hover {
  color: #FFFFFF;
  background: #5221e6;
  padding: 0.6em 0.8em;
}

.site-blurb-1 img {
  width: 40px;
  margin-bottom: 1em;
}

.logo-box ul {
  display: flex;
  justify-content: space-around;
}
.logo-box ul li {
  padding: 2.5vw 0;
  width: 100%;
  text-align: center;
  border: 1px solid #232323;
}
.logo-box ul li img {
  width: 30px;
}

.image-box-blurb {
  background: #181823;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}
.image-box-blurb img {
  width: 100%;
}
.image-box-blurb .info {
  padding: 3em 2em;
}
.image-box-blurb .info h3 {
  color: #06DDDE;
  margin-bottom: 1em;
}
.image-box-blurb .icon-bottom {
  position: absolute;
  bottom: -50px;
  right: -50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  background: #5221e6;
  color: #FFFFFF;
}
.image-box-blurb:hover {
  transform: scale(1.02);
}
.image-box-blurb:hover h3 {
  padding: 0 0.4em;
}
.image-box-blurb:hover .icon-bottom {
  right: 0;
  bottom: 0;
}

.site-btn-2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Sen-Bold";
  padding: 1.5em 2em;
  border: 1px solid #5221e6;
  display: inline-block;
}
.site-btn-2:hover {
  background: #5221e6;
  transform: scaleY(0.98);
  margin-top: -3px;
}

.image-box-blurb-2 {
  border: 1px solid #8491A0;
  margin-bottom: 3em;
}
.image-box-blurb-2 img {
  width: 100%;
}
.image-box-blurb-2 .info {
  padding: 2em;
}
.image-box-blurb-2 .info h3 {
  line-height: 1.3em;
  margin-bottom: 3em;
}
.image-box-blurb-2 .info h4 {
  font-size: 1.3em;
}
.image-box-blurb-2 .info .paragraph-1 {
  color: #FFFFFF;
}

@font-face {
  font-family: "Sen-Bold";
  src: url("../fonts/Sen-Bold.ttf");
}
@font-face {
  font-family: "Sen-ExtraBold";
  src: url("../fonts/Sen-ExtraBold.ttf");
}
@font-face {
  font-family: "Sen-Regular";
  src: url("../fonts/Sen-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  transition: 0.3s ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sen-ExtraBold";
}

p {
  font-family: "Sen-Regular";
  color: white;
}

.my-5 {
  margin-top: 5em !important;
  margin-bottom: 5em !important;
}

.module-0 {
  background-color: #181823;
}
.module-0 .left-bar {
  padding: calc(1.375rem + 5.5vw) 0;
  background: #000000;
  display: flex;
  align-items: center;
}
.module-0 .left-bar .hero-image img {
  width: 130%;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.module-0 .right-bar {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  max-width: 750px;
}

.module-1 {
  padding: 9em 0;
  background: #000000;
}

.module-2 {
  background: #FFF3E4;
}
.module-2 .left {
  position: relative;
}
.module-2 .left h1 {
  color: #000000;
}
.module-2 .left p {
  color: #8491A0;
}
.module-2 .left .site-btn-1 {
  position: absolute;
  bottom: 0;
}
.module-2 .right img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.module-3 .paragraph-1 {
  color: #8491A0;
}
.module-3 .site-blurb-1 {
  margin-bottom: 3em;
}
.module-3 .site-blurb-1 .paragraph-2 {
  color: #8491A0;
}

.module-5 .btn-area {
  text-align: center;
  margin-top: 5em !important;
}

.module-6 .site-btn-1 {
  color: #FFFFFF;
  border-bottom-color: #8491A0;
}
.module-6 .paragraph-1 {
  color: #8491A0;
}
.module-6 .stuck-image {
  overflow: hidden;
  height: 50vw;
  background: url("../assets/image2.png");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px;
}
.module-6 .stuck-image .bar {
  background-color: #181823;
  display: flex;
  align-items: center;
  color: #8491A0;
  font-size: 3.5em;
  line-height: 1;
}

.module-7 .paragraph-1 {
  color: #8491A0;
}
.module-7 .site-btn-1 {
  color: #FFFFFF;
  border-bottom-color: #8491A0;
}

.module-8 .paragraph-1 {
  color: #8491A0;
}
.module-8 .bottom .site-btn-2 {
  padding: 0.7em 1.6em;
}
.module-8 .bottom .active {
  background: #5221e6;
}
.module-8 .bottom .list ul li {
  display: inline-block;
  margin-right: 1.2em;
}
.module-8 .bottom .image-gallery ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.module-8 .bottom .image-gallery ul li {
  margin-bottom: 1em;
}
.module-8 .bottom .image-gallery ul li img {
  width: 100%;
}

.module-9 {
  max-width: 1100px;
  margin: auto;
}
.module-9 .right .contact-form input, .module-9 .right .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  background: #181823;
  border: none;
  color: #FFFFFF;
  outline: none;
}
.module-9 .right .contact-form input {
  padding: 0.4em 0.5em;
}
.module-9 .right .contact-form label {
  color: #FFFFFF;
  font-family: "Sen-Bold";
  margin-bottom: 5px;
}
.module-9 .right .contact-form .site-btn-2 {
  background: #5221e6;
  padding: 1.2em 0;
}

.home-sac-6 {
  background: #FBE4FF;
}

body {
  background: #000000;
}

.main-header {
  position: absolute;
  top: 0;
  background: transparent;
}
.main-header .mobile-menu-icon {
  display: none;
}
.main-header .logo-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-header h1 {
  letter-spacing: -2px;
}
.main-header a {
  font-family: "Sen-Regular";
  color: #8491A0;
  padding: 1.9rem 1rem;
  display: block;
}
.main-header a:hover {
  color: #06DDDE;
}
.main-header .contact {
  background-color: #5221e6;
  color: white;
  font-family: "Sen-Bold";
}

.footer {
  background: #181823;
}
.footer .social-icons li {
  width: 25px;
  display: inline-block;
  margin-right: 1em;
}
.footer .social-icons li img {
  width: 100%;
}
.footer .footer-menu li {
  margin: 1.5em 0;
}
.footer .footer-menu li a {
  color: #FFFFFF;
  font-family: "Sen-Regular";
}
.footer .footer-menu li a:hover {
  color: #06DDDE;
}
.footer .footer-copy h4 {
  font-size: 1.4em;
  color: #06DDDE;
}

@media (max-width: 768px) {
  .main-header {
    position: relative;
  }
  .main-header .logo-bar {
    z-index: 99;
    background: #000000;
  }
  .main-header .menu-item-bar {
    position: absolute;
    top: 100%;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    z-index: 3;
  }
  .main-header .menu-item-bar ul {
    display: block !important;
    background: #181823;
  }
  .main-header .menu-item-bar ul li {
    border-bottom: 1px solid #232323;
  }
  .main-header .mobile-menu-icon {
    display: block;
    padding: 0.3rem;
    color: #FFFFFF;
  }
  .main-header .mobile-menu-icon:hover {
    color: #8491A0;
  }
  .module-0 .left-bar {
    padding: calc(1.375rem + 0.5vw) 0;
    padding-bottom: 0;
    margin-bottom: -50vw;
  }
  .module-0 .left-bar .hero-image img {
    width: 100%;
  }
  .logo-box ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-self: center;
  }
  .logo-box ul li {
    padding: 30px 0;
  }
  .module-6 .stuck-image {
    height: 50vh;
  }
  .module-8 .image-gallery ul {
    grid-template-columns: repeat(1, auto) !important;
  }
}/*# sourceMappingURL=main.css.map */